.main-content {

  margin: 30px;
}

.main-content-title{
  font-size : 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.main-btns{
  text-align: right;
  margin-bottom: 30px;
}

 .btn-st {
  border: 1px solid #1d2830;
  color : #ffffff;
  font-weight: bold;
  border-radius: 3px;
  background-color: #2e3133;
  
}


.main-contents{
  border : 1px solid rgb(255, 0, 0);
}

.reserve-container {
  border : 1px solid rgb(68, 0, 255);
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
}

.reserve-img {
  width: 40%;
  height: 100%;
  margin: 5px;

}
.reserve-img > img {
  width: 100%;
  height: 100%;
}


.reserve-content{

  margin: 10px;
  padding : 10px;
}
.reserve-content-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: baseline;
}

.reserve-content-title > button {

}

.reserve-content-text {

}