@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }


body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
    padding: 0px;
    background-color: #ddd;
}

.admin-store-regist-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.step-indicator {
    display: flex;
    justify-content: space-between; /* 왼쪽 정렬 */
    margin-bottom: 30px;
    background-color: #fff; /* 배경색 추가 */
    border-radius: 10px; /* 둥근 모서리 추가 */
}

.step {
    text-align: center;
    position: relative; /* 위치 설정 */
    margin-right: 30px; /* 단계 간의 간격을 추가 */
    width: 100%;
}

.icon {
    width: 100%;
    height: 60px;
    background-color: rgba(79, 109, 218, 0.3);;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727272;
}

.step.active .icon {
    /* background-color: #727272; */
    background-color: rgb(79, 109, 218);
    color: white;
}

.icon p {
    margin: 0;
    text-align: center;
    font-size: small;
}

.step:last-child {
    margin-right: 0; /* 마지막 단계의 오른쪽 마진을 0으로 설정하여 공간 없애기 */
}

.step::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 30px; /* 연결선 너비 */
    height: 2px; /* 연결선 높이 */
    background-color: rgba(79, 109, 218, 0.3); /* 기본 연결선 색상 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
}

.step:last-child::after {
    display: none; /* 마지막 단계에선 연결선 숨김 */
}



.noti-text {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 20px;
}

.noti-text > h {
    margin-bottom: 20px;
    font-size: 20px;
    color: #727272;
}

label {
    display: block;
    margin-top: 40px;
    font-weight: bold;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.parking-yn, .op-hours {
    margin-top: 10px;
}

textarea {
    height: 100px;
    resize: none;
}

.operating-hours, .parking, .sns, .photo-upload {
    margin-top: 20px;
}

.operating-hours select, .operating-hours input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bi {
    margin: 0px 10px;
}

.sns input:nth-child(1) {
    width: 80%;
    display: inline-block;
}

.sns input:nth-child(2) {
    width: 20%;
    display: inline-block;
}

.sns-box {
    display: flex;
    gap : 2%;
}

.small-text {
    margin-left: 10px;
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.photo-upload > button {
    border: none;
    margin-top: 10px; 
    padding: 3px 15px;
    font-size: 12px;
    background-color: #9e9e9e;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; 
    font-weight: 500; 
}

.photo-upload > button:hover {
    background-color: #727272; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.photo-upload > button:active {
    transform: translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.photo-upload .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
}

.photo-upload .photo-item {
    border: 1px solid #ccc;
    position: relative;
}

.photo-upload .photo-item img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.bi-x-circle {
    position: absolute;
    top: 5px;
    right: -10px;
    color: #ccc; /* 약간 어두운 글씨 */
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 12px;
}
 
/* .submit-btn {
    display: block;
    width: 20%; height: 37px;
    margin: 30px auto;
    padding: 5px;
    background-color: white;
    color: #727272;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: 1.5px solid #727272;
} */


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttons > button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}

.cancel-btn {
    /* background-color: #999; */
    color: #999;
    font-family: 'ghanachoco';
}

.next-btn {
    /* background-color: rgba(199, 4, 4, 0.685); */
    color: rgb(79, 109, 218);
    font-family: 'ghanachoco';
}

  