@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }


body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
    padding: 0px;

}

.parts {
    display: flex;
    min-height: 100vh;
}
.part1 {
    border:1px solid red;
    width: 100%;
    background-color: #000;
}

.part2 {
    width: 100%;
    /* border:1px solid red; */
    background-color: #ddd;
}

.login-box {
    /* border : 1px solid red; */
}

.login-container {
    border : 1px solid #ddd;
    border-radius: 10px;
    padding: 50px 30px ;
    margin: 0 auto;
    width: 450px;
    margin-top: 7%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-box {
    /* border : 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: baseline;

}

.login-box div {
    display: flex;
    width: 100%;
    gap: 5%;
 
}


.login-box div > div {
    width: 20%;
    line-height: 43px;
}
.login-box div > input {
    height: 40px;
    margin-bottom: 10px;    
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}

.find-msg {
    text-align: right;
    text-decoration: underline;
    margin-bottom: 10px;
}

.login-container> button {
    background-color: #727272;
    border : 1px solid #ddd;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #ddd;
    margin-top: 30px;
}


.singup-msg > span {
    text-decoration: underline;
}

.part1 > div {
    color : #fff;
    font-size: 30px;
}

.account-find-box {
    /* border : 1px solid red; */
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.account-find-box > button {
    height: 50px;
    /* align-items: center; */
    width: 100%;
    /* height: 100%; */
    font-weight: bold;
    font-size: 16px;
    border : 1px solid #ddd;
    background-color: #fff;
    
}

.account-find-box > button:nth-child(1) {
    background-color: #ddd;
    border: 1px solid #ddd;
}

.logo {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #94b6e9, #56c9ef, #33d8d7, #73e0a7, #bfdf77);
    font-family: 'ghanachoco';
    font-size: 45px;

}