@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
    padding: 0px;
    background-color: #ddd;
}

.admin-store-regist-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top :100px;
}

.step-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.step {
    text-align: center;
}

.step .icon {
    width: 50px;
    height: 50px;
    background-color: #b8b8b8;
    border-radius: 50%;
    display: inline-block;
}

.step.active .icon {
    background-color: #727272;
}

.admin-singup-complete-container{
    /* border : 1px solid red; */
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;

}
.singup-complete-title{
    /* border : 1px solid red; */
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-family: 'TTLaundryGothicB';
}

.singup-complete-title .logo {
    display: block;
    margin-bottom: 30px;
}

.singup-complete-title .bi {
    display: block;
    margin-bottom: 30px;
}

.logo {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #94b6e9, #56c9ef, #33d8d7, #73e0a7, #bfdf77);
    font-family: 'ghanachoco';
    font-size: 45px;
}
.singup-complete-content{
    /* border : 1px solid red; */
    margin-bottom: 70px;
    font-size: 20px;
    
}

.singup-complete-content > div:nth-child(1) {
    color : rgb(199, 4, 4);
    margin-bottom: 20px;
}
.singup-complete-content > div:nth-child(2) {
    color : #999;
    margin-bottom: 10px;
    font-size: 13px;
    
}

.singup-complete-content > div:nth-child(1) span{
    color : blue;
    margin-bottom: 10px;
}

.login-go-btn {
    display: block;
    /* width: 100%; */
    /* text-align: center; */
    padding: 10px 15px;
    background-color: #727272;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    margin: auto;
}