@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

@font-face {
  font-family: 'ghanachoco';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular';
  margin: 0px;
  padding: 0px;

}

.user-top-nav {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.user-bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  height: 60px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); */
}

.user-bottom-nav a {
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  flex: 1;
}

.user-bottom-nav a span {
  display: block;
  margin-top: 5px;
}

.logo {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(207deg, rgba(146, 169, 255, 1) 0%, rgba(53, 58, 148, 1) 100%);
  font-family: 'ghanachoco';
  font-size: 25px;
  margin-bottom: 20px;
}


.user-main-container {
  padding: 0px;
  margin: 0 auto;
  /* border: 1px solid red; */
  max-width: 600px;
  min-height: calc(100vh - 63px);
}


/* 상단 버튼 디자인 */
.user-top-btns {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.user-top-btns>button {
  height: 30px;
  width: 50px;
  font-size: 25px;
  background-color: #fff;
  border: none;

}

.user-main-content {
  margin-bottom: 30px;
}

.user-main-content>.bi {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 50px;
  left: 155px;
}


/* ----------------------------------------- */

/* 검색바 */
.store-search-bar {
  margin: 30px 30px 50px 30px;
  border: 2px solid #2C348F;
  border-radius: 40px;
  text-align: center;
  display: flex;
  padding: 10px;
  align-items: baseline;
  position: relative;
}

.store-search-bar img {
  width: 20px;
}

.store-search-bar>input {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}


.store-search-bar>.bi {
  font-size: 20px;
  margin: 10px;
}

/* ------- */

.user-main-list-wrap {
  display: flex;
  overflow-x: auto;
}



.user-main-list-container {
  width: 185px;
  background-color: white;
  margin: 5px;
  flex-shrink: 0;
}

.user-category-menu-img {
  width: 100%;
  height: 185px;
  gap: 3%;
  position: relative;
}

.user-category-menu-img>.bi {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 5px;
  left: 150px;
}

.user-category-menu img {
  width: 100%;
  height: 100%;
  background-size: cover;
}



/* 모바일 스크롤 스타일 */
.user-main-list-wrap::-webkit-scrollbar {
  height: 0px;
}

.user-main-list-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 모바일 환경 */
@media (max-width: 767px) {

  /* PC 버튼 숨김 */
  .nav-button {
    display: none !important;
  }
}

/* PC 환경 */
@media (min-width: 768px) {

  /* 스크롤바 감추기 */
  .user-main-list-wrap {
    overflow-x: hidden;
  }

  /* PC 환경에서 좌우 버튼 추가 */
  .nav-button {
    position: absolute;
    /* 부모 요소 내에서 고정 */
    top: 325%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .nav-button.left {
    left: -30px;
    /* 부모 요소의 왼쪽에 고정 */
  }

  .nav-button.right {
    right: -30px;
    /* 부모 요소의 오른쪽에 고정 */
  }
}


