@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
    padding : 0px;
}
.user-top-nav {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.user-bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    height: 60px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); */
}
.user-bottom-nav a {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    flex: 1;
}
.user-bottom-nav a span {
    display: block;
    margin-top: 5px;
}

.logo {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #94b6e9, #56c9ef, #33d8d7, #73e0a7, #bfdf77);
    font-family: 'ghanachoco';
    font-size: 25px;
    margin-bottom: 20px;
  }

  
  .user-main-container{
    padding: 0px;
    margin: 0 auto;
    border: 1px solid red;
    max-width: 600px;
    min-height: calc(100vh - 63px); 
  }


  /* 상단 버튼 디자인 */
.user-top-btns  {
    margin : 10px 0px;
    display: flex;
    justify-content: space-between;
}

.user-top-btns > button {
    height: 30px;
    width: 50px;
    font-size: 25px;
    background-color: #fff;
    border: none;
    
}

  .user-main-content {
    /* padding : 15px; */
    margin-bottom: 100px;
    /* border : 1px solid blue; */
  }

  

/* --------------------------------------------------- */


  .user-content-container {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid #ddd
  }



  .payment-amount {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .reservation-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .reservation-info img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }

  .reservation-details {
    flex-grow: 1;
    margin-left: 10px;
  }

  .reservation-details h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .reservation-details p {
    margin: 4px 0;
    font-size: 14px;
    color: #666;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  
  .payment-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }

  .user-content-first{
    /* border: 1px solid red; */
 
    margin-bottom: 30px;
  }

  .user-content-first-img > img {
    position: relative;
  }

  .user-content-first-img-num {
    position: absolute;
    top: 0;
    left: 0;
    
  }

  .user-content-first-content {
    padding: 15px;
  }

  .store-name {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
  }
  .store-name button {
    height: 50px;
    font-size: 25px;
    background-color: #fff;
    border: none;
  }
  .store-name button:active {
    height: 50px;
    font-size: 25px;
    color : red;
    background-color: #fff;
    border: none;
  }

  .store-detail-menu {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
  }
  .store-detail-menu > button {
    width: 100%;
    height: 50px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .store-detail-menu > button:active {
    background-color: #ddd;
  }

  /* --------------------------------------- */
  .user-account-find {
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.user-account-find form {
    margin: 50px;
    margin-bottom: 100px;
}

.user-account-find-toggle {
    display: flex;
    margin-bottom: 50px;
    width: 80%;
    justify-content: center;
    text-align: center;
}
.user-account-find-toggle > button {
    width: 60%;
    height: 60px;
    border: none;
    font-weight: bold;
    flex: 1;
}

.user-account-msg{ 
    text-align: center;

}
.user-account-find-toggle > button:nth-child(2) {
    width: 60%;
    height: 60px;
    border: none;
    font-weight: bold;
}

#find-id-btn {
  font-size: 15px;
  background-color: #4653C0;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#find-pw-btn {
  font-size: 15px;
  background-color: #E5E5EA;
  color: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-group {
    margin-bottom: 30px;
}

/* .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
} */

.form-group input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    /* border-radius: 5px; */
    box-sizing: border-box;
}

.btn-findaccount {
    margin-top: 50px;
    width: 70%;
    height: 50px;
    padding: 10px;
    background: rgb(146,169,255);
    background: linear-gradient(207deg, rgba(146,169,255,1) 0%, rgba(53,58,148,1) 100%);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

