@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    margin: 0px;
    padding : 0px;
}
.user-top-nav {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.user-bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    height: 60px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); */
}

.user-bottom-nav a {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    flex: 1;
}

.user-bottom-nav a span {
    display: block;
    margin-top: 5px;
}

.logo {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #94b6e9, #56c9ef, #33d8d7, #73e0a7, #bfdf77);
    font-family: 'ghanachoco';
    font-size: 25px;
    /* margin-bottom: 20px; */
  }

  
  .user-main-container{
    padding: 0px;
    margin: 0 auto;
    /* border: 1px solid red; */
    max-width: 600px;
    /* min-height: calc(100vh - 63px);  */
    height: 100vh;
  }


  /* 상단 버튼 디자인 */
.user-top-btns  {
    margin : 10px 0px;
    display: flex;
    justify-content: space-between;
}

.user-top-btns > button {
    height: 30px;
    width: 50px;
    
}

  .user-main-content {
    padding : 15px;
    margin-bottom: 40px;
    overflow: auto;
    height: 84vh;
    /* border : 1px solid blue; */
  }

  

/* --------------------------------------------------- */


  .user-content-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid #ddd
  }



  .payment-amount {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .reservation-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .reservation-info img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }

  .reservation-details {
    flex-grow: 1;
    margin-left: 10px;
  }

  .reservation-details h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .reservation-details p {
    margin: 4px 0;
    font-size: 14px;
    color: #666;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  
  .payment-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }

  /* ---------------- */
  
  /* 상단 버튼 디자인 */
.user-top-btns  {
  margin : 10px 0px;
  display: flex;
  justify-content: space-between;
}

.user-top-btns > button {
  height: 30px;
  width: 50px;
  font-size: 25px;
  background-color: #fff;
  border: none;
  
}

/* ------------------------------- */


.user-chat-container {
    padding: 10px;
    background-color: white;
}

.user-chat-header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 20px;
    margin: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    padding-left: 10px;
}

.search-bar input:focus {
    outline: none;
}

.filter-btn {
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.inquiry-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inquiry-item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.inquiry-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.inquiry-content {
    flex-grow: 1;
}

.inquiry-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.inquiry-message {
    font-size: 14px;
    color: gray;
    margin: 5px 0 0 0;
}

.inquiry-time {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-top: 5px;
}
